h1 {
    font-size: 24;
    color: red;
    text-align: center;
}

h2 {
    font-size: 136px;
    color: blue;
    text-align: center;
    margin: 0%;
}

#increment-btn {
    background-color: green;
    color:aliceblue;
    padding: 2%;
    border-radius: 20px;
    border-color: green;
    font-size: 24px;
    align-self: center;

}

#reset {
    background-color: maroon;
    color:aliceblue;
    padding: 2%;
    border-radius: 20px;
    border-color: maroon;
    font-size: 24px;
    align-self: center;

 
}

#off {
    background-color:orange;
    color:aliceblue;
    padding: 2%;
    border-radius: 20px;
    border-color: orange;
    font-size: 24px;
    align-self: center;
}

#save {
    background-color:grey;
    color:aliceblue;
    padding: 2%;
    border-radius: 20px;
    border-color: gray;
    font-size: 24px;
    align-self: center;
    align-content: center;
}

#topmsg {
    font-size: 36px;
    text-align: center;
    color: grey;
}

#save-el {
    font-size: 36px;
    text-align: center;
    color: grey; 
}